table {
    border-collapse: collapse;
    width: 300px;
    margin-top: 20px;
}
th, td {
    border: 1px solid black;
    text-align: center;
    padding: 4px; 
}
th {
    background: #fc0;
    height: 40px;
    vertical-align: bottom;
    padding: 0;
}